@model BooksCRUD.Web.Models.BookCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Book</h1>

<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Publisher)
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="Publisher" class="form-control" />
                    <span asp-validation-for="Publisher" class="text-danger"></span>
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="Image" type="file" class="form-control" onchange="previewImage(event)" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                    <img id="imagePreview" src="#" alt="Image Preview" style="max-width:200px; margin-top:10px; display:none;" />
                </dd>
            </dl>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function previewImage(event) {
            var output = document.getElementById('imagePreview');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.style.display = 'block';
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
