name: CI Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/bookscrud
      IMAGE_TAG: ${{ github.sha }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker build -t $IMAGE_NAME:$IMAGE_TAG .
        docker push $IMAGE_NAME:$IMAGE_TAG

    - name: Update Helm values file with new image tag
      run: |
        sed -i "s/tag: .*/tag: $IMAGE_TAG/" bookscrud/values.yaml

    - name: Commit updated Helm chart
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "Deploy $IMAGE_TAG"
        file_pattern: bookscrud/values.yaml
